---
import { Icon } from "astro-icon/components";
import { PLATFORMS } from "../data/downloads";

interface Props {
	currentPlatform: string;
}

const { currentPlatform } = Astro.props;
---

<div
	class="not-prose flex flex-wrap rounded-lg p-1 mb-6 bg-prism-accent-light dark:bg-prism-accent-dark"
>
	{
		PLATFORMS.map((platform) => (
			<a
				href={platform.path}
				class:list={[
					"flex flex-col items-center justify-center gap-1",
					"flex-grow basis-0 px-2 py-2 text-center text-sm font-medium rounded-md",
					"text-prism-text-light dark:text-prism-text-dark",
					currentPlatform === platform.key &&
						"bg-prism-background-light dark:bg-prism-background-dark border border-black/10 dark:border-white/10",
				]}
			>
				<Icon size="24" name={platform.icon} />
				{platform.name}
			</a>
		))
	}
</div>
